/* BASE */

*,
*::after, *::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  background-color: #fff;
  color: #2e2e2e;
}

.page {
  margin: 0 auto;
  padding: 0;
  max-width: 100rem;
  background-color: #f7f7f7;
}

/* <-- BASE */

/* PAGE CONTENTS */
/* HEADER */
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 7.2rem;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #f62f5e;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: .4rem;
  margin-left: 3.1rem;
}

.nav-items {
  width: 438px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-top: 2.9rem;
}

.nav-icons {
  width: 8.3rem;
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
}

/* <-- NAVBAR */

/* HERO */
.hero {
  height: 48rem;
  background-image: url(../Images/images-woman1.png)
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin-left: 10.9rem;
  color: #fff;
}

.hero-title {
  font-size: 4.8rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  width: 47.2rem;
  line-height: 7.2rem;
  letter-spacing: 2px;
  margin-top: 6.8rem;
}

.hero-title span {
  font-weight: 400;
  font-style: italic;
}

.hero-text {
  width: 55.2rem;
  font-size: 24px;
  margin-top: 1.7rem;
  line-height: 3.6rem;
  letter-spacing: 1px;
  opacity: 0.9;
  font-weight: 700
}

.hero .button {
  margin-top: 3.5rem;
}

/* <-- HEADER */

/* MAIN */
.main {
  width: 94rem;
  margin: 2.5rem auto;
  display: grid;
  grid-gap: 2.5rem 2rem;
  grid-template-columns: 30rem 62rem;
  grid-template-rows: 31.2rem 31.2rem 31.2rem;
  grid-template-areas:
    "full-width full-width"
    "block1 block2"
    "block3 block2"
}

.full-width {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  grid-area: full-width;
}

.full-width .image {
  margin-left: 2.8rem;
  margin-top: 2.1rem;
  position: relative;
}

.full-width .image .rect-badge {
  position: absolute;
  z-index: 999;
}

.full-width .image img {
  position: absolute;
  top: -1rem;
  z-index: 0;
}

.full-width .description {
  width: 47.2rem;
  color: #2e2e2e;
  display: flex;
  flex-direction: column;
  margin-right: 6rem;
}

.name {
  text-transform: capitalize;
  font-size: 2.4rem;
  margin-top: 4.9rem;
  margin-bottom: 0;
}

.description-text {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin-top: 1.9rem;
}

.description a {
  margin-top: 1.7rem;
}

.block1 {
  grid-area: block1;
  background-color: #84e6f1;
  text-align: center;
}

.block1-exclamation {
  text-transform: uppercase;
  font-family: 'Playfair Display';
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 9.2rem;
  margin-bottom: 0;
}

.block1-text {
  display: inline-block;
  color: #f62f5e;
  font-size: 2.4rem;
  width: 12.5rem;
  margin-top: 1rem;
  line-height: 3.6rem;
  letter-spacing: 1.03;
}

.block2 {
  grid-area: block2;
  background-color: #fff;
  text-align: center;
}

.block2 .background {
  background-image: url(../Images/images-model3.png);
  height: 40.8rem;
  text-align: initial;
}

.block2 .background .rect-badge {
  /* position: relative; */
  margin-top: 2.1rem;
  margin-left: 2.4rem;
}

.block2 .title {
  font-family: 'Playfair Display';
  text-align: center;
  font-size: 4.8rem;
  line-height: 7.2rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 2.1rem;
  margin-bottom: 0;
}

.block2 .content {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0;
}

.block2 a {
  margin-top: 2.3rem;
}

.block3 {
  grid-area: block3;
  background: linear-gradient(rgba(255, 210, 1, .4), rgba(255, 210, 1, .4)), url(../Images/images-model2.png);
  position: relative;
}

.block3 p {
  text-transform: uppercase;
  font-family: 'Playfair Display';
  color: #fff;
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  line-height: 72px;
  letter-spacing: 2px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* <-- MAIN */

.footer .discount {
  background-color: #efefef;
  text-align: center;
  height: 26.4rem;
}

.discount .discount-title {
  padding-top: 4.3rem;
  text-align: center;
  color: #f62f5e;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.discount-text {
  display: inline-block;
  width: 53rem;
  text-align: center;
  margin-top: .6rem;
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 700;
}

.subscription-form input {
  height: 3.6rem;
  width: 31rem;
  border: 1px solid #e1e1e1;
  border-radius: 1.8rem;
  font-family: 'Open Sans';
  font-size: 1.4rem;
  margin-top: 2.4rem;
}

.subscription-form input::placeholder {
  color: #bababa;
  font-family: 'Open Sans';
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.subscription-form input:focus {
  outline: none;
}

.footer-main {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  height: 24.1rem;
}

.footer-main .title {
  text-transform: uppercase;
  font-family: 'Playfair Display';
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 0;
  margin-top: 5.2rem;
  margin-bottom: 1.3rem;
}

.footer-main .text {
  font-family: 'Open Sans';
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
  margin: 0;
}

.copyright {
  margin-top: 5.3rem;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 1.6rem;
}